function Square.new 0
pop field 0
pop field 1
pop field 2
pop temp 0
push pointer 0
push constant 0
return
function Square.dispose 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Square.draw 0
push constant 0
not
call Screen.setColor 1
pop temp 0
add
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Square.erase 0
push constant 0
call Screen.setColor 1
pop temp 0
add
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Square.incSize 0
add
push constant 254
lt
add
push constant 510
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
pop temp 0
push constant 2
add
pop field 2
pop temp 0
goto END1
label IF_FALSE1
label END1
push constant 0
return
function Square.decSize 0
push constant 2
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
pop temp 0
push constant 2
sub
pop field 2
pop temp 0
goto END2
label IF_FALSE2
label END2
push constant 0
return
function Square.moveUp 0
push constant 1
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
call Screen.setColor 1
pop temp 0
add
push constant 1
sub
add
add
call Screen.drawRectangle 4
pop temp 0
push constant 2
sub
pop field 1
push constant 0
not
call Screen.setColor 1
pop temp 0
add
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
goto END3
label IF_FALSE3
label END3
push constant 0
return
function Square.moveDown 0
add
push constant 254
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
call Screen.setColor 1
pop temp 0
add
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push constant 2
add
pop field 1
push constant 0
not
call Screen.setColor 1
pop temp 0
add
push constant 1
sub
add
add
call Screen.drawRectangle 4
pop temp 0
goto END4
label IF_FALSE4
label END4
push constant 0
return
function Square.moveLeft 0
push constant 1
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
call Screen.setColor 1
pop temp 0
add
push constant 1
sub
add
add
call Screen.drawRectangle 4
pop temp 0
push constant 2
sub
pop field 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 1
add
add
call Screen.drawRectangle 4
pop temp 0
goto END5
label IF_FALSE5
label END5
push constant 0
return
function Square.moveRight 0
add
push constant 510
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
call Screen.setColor 1
pop temp 0
push constant 1
add
add
call Screen.drawRectangle 4
pop temp 0
push constant 2
add
pop field 0
push constant 0
not
call Screen.setColor 1
pop temp 0
add
push constant 1
sub
add
add
call Screen.drawRectangle 4
pop temp 0
goto END6
label IF_FALSE6
label END6
push constant 0
return
