function Main.convert 3
push constant 0
not
pop local 2
label WHILE_EXP0
not
if-goto WHILE_EXP0
push constant 1
add
pop local 1
call Main.nextMask 1
pop local 0
push constant 16
gt
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
and
push constant 0
eq
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push constant 8000
add
push constant 1
call Memory.poke 2
pop temp 0
goto END2
label IF_FALSE2
push local 0
push constant 8000
add
push constant 0
call Memory.poke 2
pop temp 0
label END2
goto END2
label IF_FALSE2
push constant 0
pop local 2
label END2
goto WHILE_EXP2
label WHILE_END2
push constant 0
return
